/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 20px;
    margin: 0px 50px;
}

a {
    text-decoration: none;
}

.nav-title {
    font-weight: bolder;
    font-size: 45px;
}

span {
    color: #FD6E0A;
}


/* shared properties */

.primay-btn {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}

.primay-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.bold-text {
    font-weight: bold;
    margin-top: 5px;
}


/* banner part */

.banner {
    margin: 20px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 400;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-top: 20px;
}

.banner-desc {
    font-size: 18px;
    margin-top: 20px;
}

.banner-btn {
    margin-top: 30px;
}

.banner-btn:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

#btn2 {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 20px;
    background-color: white;
    cursor: pointer;
}

#btn2:hover {
    background-color: #FD6E0A;
    color: white;
}

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* about me start */

.about {
    height: 550px;
    width: 1140 px;
    background-color: #FFF8F3;
    margin: 50px 250px;
}

.about-me {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 130px 150px;
    /* border: 1px solid black; */
}

.about-me-desc {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.about-me-title {
    font-size: 35px;
    margin-bottom: 30px;
}

.about-me-details {
    font-size: 18px;
}


/* what i do start */

.what-container {
    text-align: center;
}

.what-container h2 {
    font-size: 35px;
}

.what-container p {
    font-size: 18px;
    margin-top: 30px;
}


/* cards part start */

.cards-container {
    display: flex;
    padding: 0px 230px;
    margin-top: 50px;
    gap: 24px;
}

.card {
    max-height: 377px;
    width: 267px;
    box-shadow: 0 5px 5px 3px black;
    padding: 20px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.card-desc p {
    font-size: 16px;
    margin-top: 20px;
}